.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f9f9f9;
  height: 10vh;
  color: var(--color-blue-base);

  &__title {
    font-size: 18px;
    font-weight: 900;
    padding: 20px;
  }

  &__title--lg {
    display: none;
  }

  &__about {
    padding: 10px;
    font-size: 16px;
    & span {
      border: 1px solid var(--color-blue-base);
      padding: 10px;
      border-radius: 5px;
    }

    & :hover {
      cursor: pointer;
      background-color: var(--color-blue-base);
      color: white;
    }
  }

  &__modal {
    background-color: royalblue;
    position: absolute;
    top: 100px;
    width: 80%;

    &__content {
      display: flex;
      flex-direction: column;

      & p {
        margin-bottom: 20px;
        line-height: 1.5em;
      }

      & img {
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px;
    &__title {
      display: none;
    }

    &__title--lg {
      display: block;
      font-size: 25px;
      font-weight: 900;
      padding: 20px;
    }

    &__about {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding: 20px;
    &__title {
      display: none;
    }

    &__title--lg {
      display: block;
      font-size: 25px;
      font-weight: 900;
      padding: 20px;
    }

    &__about {
      font-size: 18px;
    }
  }
}
