<div class="ui cards">
  <div class="card" *ngFor="let project of projects">
    <div class="content">
      <img class="right floated mini ui image" src="{{rootUrl}}{{ project.image.url }}">
      <div class="header">
        {{project.title}}
      </div>
      <div class="meta">
        {{project.type}}
      </div>
      <div class="description">
        {{project.description}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a class="ui basic blue button" [href]="project.link" target="_blank" >View Project</a>
      </div>
    </div>
  </div>
</div>
