.ui.card {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 50px;
  box-shadow: none;
}

.ui.button {
  background-color: var(--color-blue-base);
  color: white;
  margin: 20px auto;
}

.ui.button:hover {
  cursor: pointer;
  color: var(--color-blue-base);
  background-color: white;
}


@media screen and (min-width: 768px) {
  .ui.card {
    width: 70%;
  }

}

@media screen and (min-width: 992px) {
  .ui.card {
    width: 50%;
  }
  
}